<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" th:href="@{css/fancyText.css}">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card w3-left-align w3-large">
        <a th:href="@{/}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a th:href="@{/user-medicines-view}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Medicines</a>
        <a sec:authorize="hasRole('SUPERVISOR')" th:href="@{/new-medicines}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">New Medicines</a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log out</a>
    </div>

</div>

<article>
    <h1>Aplikacja dla klienta apteki</h1>
</article>


</body>
</html>
