<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" th:href="@{css/login.css}">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<div class="sidenav">
  <div class="login-main-text">
    <h2>Apteka App <br>Login Page</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <!--Spring Security authentication-->
      <form th:action="@{/authenticateTheUser}" METHOD="post">
        <!-- Place for messages: error, alert etc ... -->
        <div class="form-group">
          <div class="col-xs-15">
            <div>
              <!-- Check for login error -->
              <div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                Invalid username and password.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>User Name</label>
          <input type="text" name="username" class="form-control" placeholder="User Name">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-black">Login</button>

        <a th:href="@{/register/showRegistrationForm}" type="submit" class="btn btn-secondary" >Register</a>

      </form>
    </div>
  </div>
</div>
</body>
</html>



