<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:type="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<title>Reservation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{css/user-reservation-view.css}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{css/reservation.css}">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-white"><i class="fa fa-bars"></i></a>
    <a th:href="@{/}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a th:href="@{/user-medicines-view}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Medicines</a>
    <div sec:authorize="hasRole('SUPERVISOR')">
      <a th:href="@{/new-medicines}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">New medicines</a>
    </div>
    <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log out</a>
  </div>
</div>

<h3>Booking Form</h3>
<div class="testbox">
  <form th:action="@{/proceed-medicine}" th:object="${medicineTmp}" method="POST">
    <div class="banner">
      <h1>Add medicines</h1>
      <img src="image/pill-tablet-pharmacy-medicine.jpg" alt="hotel-room">
    </div>
    <div class="item">
      <label>Name</label>
      <input th:field="*{medicineName}" required>
    </div>
    <div class="item">
      <label>Price</label>
      <input th:field="*{price}" required>
    </div>
    <div class="item">
      <label>Quantity</label>
      <input th:field="*{medicineQuantity}" required>
    </div>
    <div class="item">
      <!--DLACZEGO TO MUSI BYC  inaczej rzuca 400 ??????????????-->
        <select hidden th:field="*{medicineValue}" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">5</option>
        <option value="1">10</option>
        <option value="2">20</option>
        <option value="3">50</option>
      </select>

    </div>
    <div class="item">
      <p>Registration date</p>
      <input type="date" th:field="*{medicineDate}" name="bdate" required/>
      <i class="fas fa-calendar-alt"></i>
    </div>


    <div class="btn-block">
      <!-- submit form -->
      <button class="sub-btn" onclick="if (!(confirm('Are you sure you want to add this medicine?'))) return false">Submit</button>
    </div>
  </form>
</div>
</body>
</html>