<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">


  <link rel="stylesheet" th:href="@{css/register.css}">

  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <title>No title</title>

</head>
<body>
<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">Company Name</h1>
        <hr />
      </div>
    </div>
    <div class="main-login main-center">
      <form th:action="@{/register/processRegistrationForm}"
            th:object="${currentUser}" method="POST"
            class="form-horizontal">

        <!-- Place for messages: error, alert etc ... -->
        <div class="form-group">
          <div class="col-xs-15">
            <div>

              <!-- Check for registration error -->
              <div  th:field="*{username}" th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                <span th:text="${registrationError}"></span>
              </div>

              <!-- Check for registration success -->
<!--              <div th:if="${successRegistration}" class="alert alert-success col-xs-offset-1 col-xs-10">
                <span th:text="${successRegistration}"></span>
              </div>-->

            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" th:field="*{username}" class="form-control" placeholder="Enter your Name"/>
            </div>
            <div th:if="${#fields.hasErrors('username')}"
                 style="margin-bottom: 25px" class="text-danger">
              <ul>
                <li th:each="err : ${#fields.errors('username')}" th:text="'User name ' + ${err}" />
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Your Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" th:field="*{email}" class="form-control"  placeholder="Enter your Email"/>
            </div>
            <div th:if="${#fields.hasErrors('email')}"
                 style="margin-bottom: 25px" class="text-danger">
              <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
              </ul>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password"  th:field="*{password}" class="form-control"  placeholder="Enter your Password"/>
            </div>
          </div>
          <div th:if="${#fields.hasErrors('password')}"
               style="margin-bottom: 25px" class="text-danger">
            <ul>
              <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
            </ul>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" th:field="*{matchingPassword}" class="form-control"  placeholder="Confirm your Password"/>
            </div>
            <div th:if="${#fields.hasErrors('matchingPassword')}"
                 style="margin-bottom: 25px" class="text-danger">
              <ul>
                <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
        </div>
        <div class="login-register">
          <a href="/login">Go back to login</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>