<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{css/user-reservation-view.css}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-white"><i class="fa fa-bars"></i></a>
    <a th:href="@{/}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a th:href="@{/user-medicines-view}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Medicines</a>
    <div sec:authorize="hasRole('SUPERVISOR')">
      <a th:href="@{/new-medicines}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">New medicines</a>
    </div>
    <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log out</a>
  </div>

</div>

<div>
  <section>
    <h2 style="text-align: center; margin-top: 75px; text-justify: auto; font-size: xxx-large">Lista leków na magazynie</h2>

    <table >
      <!-- thead Table elements -->
      <thead >
      <tr>
        <th>ID</th>
        <th>Nazwa leku</th>
        <th>Koszt za sztuke</th>
        <th>Ilość na stanie</th>
        <th>Wartość leków</th>
        <th>Data dodania</th>
        <th>Akcja</th>
      </tr>
      </thead>
      <!-- loop in each reservation in list and fill table -->
      <tbody>
      <tr th:each=" tmpMedicine : ${medicineList}">
        <td style="text-align: center; vertical-align: middle; size: auto;" th:text="${tmpMedicine.medicineId}" />
        <td style="text-align: center; vertical-align: middle; size: auto;" th:text="${tmpMedicine.medicineName}" />

        <td style="text-align: center; vertical-align: middle; size: auto;" th:text="${tmpMedicine.price}" />
        <td style="text-align: center; vertical-align: middle; size: auto;" th:text="${tmpMedicine.medicineQuantity}" />
        <td style="text-align: center; vertical-align: middle; size: auto;" th:text="${tmpMedicine.medicineValue}" />
        <td style="text-align: center; vertical-align: middle; size: auto;" th:text="${tmpMedicine.medicineDate}" />
        <td>
              <form sec:authorize="hasRole('SUPERVISOR')" th:action="@{/medicine-delete}" method="POST">
                <input type="hidden" name="medId" th:value="${tmpMedicine.medicineId}" />
                <button type="submit" class="pure-button" onclick="if (!(confirm('Are you sure you want to delete this medicine?'))) return false">Remove medicine</button>
              </form>
        </td>
      </tr>
      </tbody>
    </table>


  </section>
</div>

</body>
</html>