html, body {
    min-height: 100%;
}
body, div, form, input, select, textarea, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h1 {
    position: absolute;
    margin: 0;
    line-height: 50px;
    font-size: 60px;
    color: #fff;
    z-index: 2;
}
.testbox {
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 120px;
}
form {
    width: 50%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 15px 0 snow;
}
.banner {
    position: relative;
    height: 260px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img {
    width: 100%;
    height:100%;
    object-fit: cover;
}
.banner::after {
    content: "";
    background-color: rgba(1, 2, 6, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}
input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}
input[type="date"] {
    padding: 4px 5px;
}
select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}
textarea {
    width: calc(100% - 12px);
    padding: 5px;
}
.item:hover p, .item:hover i, input:hover::placeholder {
    color:  #3263cd;
}
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 5px 0 #3263cd;
    color: #3263cd;
}
.item {
    position: relative;
    margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}
.item i {
    right: 2%;
    top: 28px;
    z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
input[type=radio], input[type=checkbox]  {
    display: none;
}
label.radio, label.checkbox {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}
.question span {
    margin-left: 30px;
}
label.checkbox:before{
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
label.checkbox:before{ border-radius: 5px}
input[type=radio]:checked + label:before
input[type=checkbox]:checked + label:before {
    border: 2px solid #3263cd;
}
label.checkbox:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 4px;
    border: 3px solid #3263cd;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3263cd;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #5b82d7;
}
@media (min-width: 568px) {
    .name-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .name-item input{
        width: calc(50% - 20px);
    }
}

